h3.variant{
    border-top: 1px dotted black;
    margin: 5px 0 5px 0;
}
.page-separator{
    page-break-after: always;
    border-bottom: 1px solid black;
    height: 1px; width: 100%;   
}
.answers-block{
    page-break-before: always;
}
.answer-block{
    width:48%; float:left; border: 1px dotted black;
    margin:3px;
}

h3 {margin-bottom: 3px}
p {margin:2px 0 2px 0}
